/target/
/~/
/.classpath
/.project
/.settings/
*.class
*.log
*.lst
*.jar

*/target/*
target/

/.idea/dictionaries/
/.idea/libraries/*.xml
/.idea/
/tunnel-server/.idea/*
/tunnel-server-ssh/.idea/*
.idea/workspace.xml
*.iml